
$primary-bg: #333333;
$primary-bg-opaque: #333333E6;
$secondary-bg: #5474FD;
$highlight-red: #FF6363;
$highlight-blue: #00A2FF;
$button-bg-blue: #496BFE;

.red {
    color: $highlight-red;
}

.light-blue {
    color: $highlight-blue;
}

.quote-blue {
    color: $secondary-bg;
}