
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap');
@import 'colors';
@import 'rem-to-px';

$josefin: "Josefin Sans", sans-serif;
$aleo: "Aleo", serif;

body, p {
    font-family: $josefin;
    color: #FFF;
    font-size: 1rem;
    line-height: rem(26px);
}

h1, h2, h4, h5 {
    font-family: $josefin;
}

h1, h4 {
    text-transform: uppercase;
}

h3 {
    font-family: $aleo;
    font-size: rem(36px);
}

h1 {
    font-size: rem(48px);
    font-weight: bold;
    letter-spacing: rem(5px);
    line-height: rem(26px);
}

h2 {
    font-size: rem(22px);
    font-weight: normal;
    letter-spacing: rem(7px);
}

.scroll-down {
    font-family: $josefin;
    font-size: rem(14px);
    letter-spacing: rem(3px);

    a {
        text-decoration: none;
        color: #FFF;
    }

    a:active, a:hover {
        color: $highlight-red;
    }
}

.header-logo {
    font-family: $josefin;
    text-transform: uppercase;
    font-size: rem(24px);
}

nav a {
    font-family: $aleo;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}

nav a:hover, a:focus {
    font-weight: bold;
}
