
@import 'fonts';
@import 'rem-to-px';

@mixin booknow {
    background: 
    linear-gradient(40deg,
    $button-bg-blue,
    $button-bg-blue 40%,
    $secondary-bg 41%,
    $secondary-bg 100%);
}

// Document-wide elements

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $primary-bg;
}

button {
    border: 0;
    background-color: $secondary-bg;
    text-transform: uppercase;
    min-height: rem(42px);
    padding: 1% 3% 1% 3%;
    color: #FFF;
}

.booknow {
    @include booknow
}

button a {
    color: #FFF;
    text-decoration: none;
}

button:hover, button:focus {
    text-decoration: none;
    color: #FFF;
}

// Header elements

header {
    text-align: center;
    background-image: url('/images/hero1.png');
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: rem(820px);
}

.search-panel {
    display: flex;
    flex-direction: column;
}

.logo-box {
    padding: 2%;
}

.search-box {
    background-color: #FFF;
    border: 1px solid #FFF;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    max-width: rem(600px);
    width:100%;
}

input {
    min-width: 70%;
    font-family: $josefin;
}


.navwrapper {
    background-color: $secondary-bg;
}